@import "resources/assets/sass/animate";

/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

.ng-cloak {
    display: none !important;
}

.parallax-heading {
    text-align: center;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    overflow: auto;
    color: #fff;
    margin-bottom: 20px;
    background-size: cover;
    background-color: $brand-primary;
    
    .jumbotron {
        color: #fff;
        text-shadow: 3px 3px #000;
        background: transparent;
        border: 0;
    }
}

.section-pad {
    margin-top: 20px;
}

.site-wrapper {
    margin: 50px auto;
    min-height: calc(100% - 98px);
}

.menu {
    margin-top: 15px;
}

.menu a {
    padding: 0 8px;
}

.search-section {
    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
    }

    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Listings
|--------------------------------------------------------------------------
*/

.flexslider {
    .flex-viewport {
        background-color: $brand-primary;
    }
}

#map {
    width: 100%; 
    height: 400px; 
    margin-top: 40px; 
    margin-bottom: 40px;
}

h5.listing-heading {
    border-bottom: 2px dashed $table-border-color;
}

.listing-features {
    text-align: center;
    
    .label {
        border-radius: 0 !important;
        padding: 5px 10px 5px 10px !important;
        margin: 6px 3px 6px 3px;
        line-height: 30px;
        font-size: 14px;
    }

    .feature-1 {
        background-color: darken( $brand-primary, 10% ) !important;
    }

    .feature-2 {
        background-color: darken( $brand-primary, 5% ) !important;
    }
    
    .feature-3 {
        background-color: $brand-primary !important;
    }

    .feature-4 {
        background-color: lighten( $brand-primary, 5% ) !important;
    }

    .feature-5 {
        background-color: lighten( $brand-primary, 10% ) !important;
    }
}

.listing-result {

    .listing-result-img {
        min-height: 200px;
        max-height: 200px;
        cursor: pointer;

        &:hover {
            box-shadow: 10px 10px 5px $table-border-color;
        }
    }
    
    .listing-result-address {
        text-align: center;
        min-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .listing-result-attributes {
        background-color: $table-bg-hover;
        text-align: center;
        border-top: 3px solid $table-border-color;
        border-bottom: 3px solid $table-border-color;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        
        .label {
            border-radius: 0 !important;
            padding: 5px 10px 5px 10px !important;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    
    .listing-result-price {
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        padding-bottom: 10px
    }
    
    .listing-result-dimensions {
        text-align: center;
        padding-top: 10px;
        
        .listing-result-dimension {
            border-left: 2px solid $brand-primary;
            border-right: 2px solid $brand-primary;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
        
    }
    
    .listing-result-provider {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 10px;
    }
}


/*
|--------------------------------------------------------------------------
| Calendar
|--------------------------------------------------------------------------
*/

.calendar {
    width: 100%;
    min-height: 100%;
}

    .calendar th {
        background-color: $table-bg-active;
        padding: 8px;
    }

    .calendar td {
        vertical-align: top;
        padding: 8px;
        text-align: left;
        border: 1px solid $table-border-color;
        height: 160px;
        width: calc(100% / 7);
    }

    .calendar td .today {
        background-color: $table-bg-active;
    }

    .calendar td .date {
        float: right;
        text-align: right;
        width: 100%;
    }
    .calendar td .content {
        float: right;
        width: 100%;
    }

.cal-link {
    margin-top: 24px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

footer {
    background-color: $panel-footer-bg;
    color: $panel-default-text;
}