@import "resources/assets/sass/animate";

/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

.parallax-heading {
    text-align: center;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    overflow: auto;
    color: #fff;
    margin-bottom: 20px;
    background-size: cover;
    background-color: $brand-primary;
    
    .jumbotron {
        color: white;
        text-shadow: #444 0 1px 1px;
        background: transparent;
        border: 0;
    }
}

.section-pad {
    margin-top: 20px;
}

.site-wrapper {
    margin: 50px auto;
    min-height: calc(100% - 98px);
}

.menu {
    margin-top: 15px;
}

.menu a {
    padding: 0 8px;
}

.search-section {
    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
    }

    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Listing Results
|--------------------------------------------------------------------------
*/

.listing-result {

    cursor: pointer;
    
    &:hover {
        box-shadow: 10px 10px 5px $table-border-color;
    }
    
    .listing-result-img {
        min-height: 200px;
        max-height: 200px;
    }
    
    .listing-result-address {
        text-align: center;
        min-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .listing-result-attributes {
        background-color: $table-bg-hover;
        text-align: center;
        border-top: 3px solid $table-border-color;
        border-bottom: 3px solid $table-border-color;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .listing-result-price {
        text-align: center;
        font-size: 24px;
        padding-bottom: 10px
    }
    
    .listing-result-dimensions {
        text-align: center;
        padding-top: 10px;
        
        .listing-result-dimension {
            border-left: 2px solid $brand-primary;
            border-right: 2px solid $brand-primary;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        
    }
    
    .listing-result-provider {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 10px;
    }
}


/*
|--------------------------------------------------------------------------
| Calendar
|--------------------------------------------------------------------------
*/

.calendar {
    width: 100%;
    min-height: 100%;
}

    .calendar th {
        background-color: $table-bg-active;
        padding: 8px;
    }

    .calendar td {
        vertical-align: top;
        padding: 8px;
        text-align: left;
        border: 1px solid $table-border-color;
        height: 160px;
        width: calc(100% / 7);
    }

    .calendar td .today {
        background-color: $table-bg-active;
    }

    .calendar td .date {
        float: right;
        text-align: right;
        width: 100%;
    }
    .calendar td .content {
        float: right;
        width: 100%;
    }

.cal-link {
    margin-top: 24px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    width: 100%;
    height: 50px;
    background-color: $panel-footer-bg;
    color: $panel-default-text;
}

.footer p {
    line-height: 50px;
    margin: 0 0 0 24px;
    padding: 0;
}

.footer {
    .btn {
        margin: 14px 8px 0 8px;
    }
}
